body {
  font-family: FujitsuSans-Regular;
  background: #fff;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: FujitsuSans-Bold;
}

.img-responsive {
  width: 100%;
}

header {
  border-bottom: 1px solid #e7e7e7;
  display: block;
  padding: 15px 0;
}

.wrapper {
  width: 925px;
}

.circle-left {
  width: 547px;
  float: left;
}

.circle-right {
  width: 439px;
  margin-left: -65px;
  display: block;
}

.form-signin {
  background: #fff;
  text-align: center;
  border-radius: 50%;
  padding: 80px;
  border: 55px solid #f8f8f8;
  margin-top: 20px;
}

.cover {
  background: #dd0f23;
  text-align: center;
  border-radius: 50%;
  padding: 30px 46px;
  border: 55px solid #fc0d1b;
  margin-top: 20px;
}

.cover h1 {
  font-size: 1.625rem;
  margin-bottom: 1.875rem;
  margin-top: 50px;
}

.lead {
  font-size: 1.125rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1.875rem;
}

.lead span {
  font-family: FujitsuSans-Bold;
}

.btn-primary {
  color: #fff;
  background-color: #fc0d1b;
  border-color: #fc0d1b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #dd0f23;
  border-color: #dd0f23;
}

.btn-secondary {
  background-color: #212121;
  border-color: #212121;
  font-family: FujitsuSans-Bold;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.btn-secondary:hover {
  background-color: #fc0d1b;
  border-color: #e7e7e7;
}
.form-box { padding-top: 40px; }

.f1 {
  padding: 25px; background: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #f35b3f; }

.f1-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }

.f1-step-icon {
  display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
  font-size: 16px; color: #fff; line-height: 40px;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
  background: #fff; border: 1px solid #f35b3f; color: #f35b3f; line-height: 38px;
}
.f1-step.active .f1-step-icon {
  width: 48px; height: 48px; margin-top: 0; background: #f35b3f; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #f35b3f; }
.f1-step.active p { color: #f35b3f; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #f35b3f; }


input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
  height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
  height: 90px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
  background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

label { font-weight: 300; }


button.btn {
  min-width: 105px;
  height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus,
button.btn:active:focus,
button.btn.active:focus { outline: 0; opacity: 0.6; color: #fff; }

button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus { background: #f35b3f; }

button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus { background: #f35b3f; }

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus, button.btn.btn-previous.active:focus { background: #bbb; }

footer {
  border-top: 1px solid #e7e7e7;
  display: block;
  padding: 30px 0 0;
  margin-top: 20px;
}

.text-muted {
  color: #666666 !important;
  font-size: 0.875rem;
  float: left;
}

.text-muted a {
  color: #a30b1a !important;
}

.text-muted a:hover {
  color: #666666 !important;
  text-decoration: none;
}

.text-muted span {
  font-family: FujitsuSans-Bold;
}

.copyright {
  float: right;
}

/*# sourceMappingURL=estilo.css.map */
